<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CarCare Dev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CarCare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01753E531CAA832C002DFF41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0182DDB81CABA33600070F25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0184BDBB1CA911E5005CB43D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0184BDD11CA911E5005CB43D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
